.carouselImg{
    width: 430px;
    height: 430px;
    box-shadow: 0 0 6px 6px #6774c1; 
    display: flex;
}
.card{
    padding: 20px;
  }
  /* RESPONSIVE DESIGN */

@media all and (max-width:1440px){
    
    .carouselImg{
        width: 310px;
        height: 310px;
        box-shadow: 0 0 6px 6px #6774c1;    } 
    .card{
        padding: 20px;
      }
}
